.gridWrapper {
    margin: 20px;
    margin-left: 0px;
}

.gridItem {
    border: 1px solid #000;
    min-height: 120px;
    font-size: 46px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    padding-top: 4%;
}