.nav-item {
    cursor: pointer;

    button {
        text-transform: capitalize;
    }

    &.active {
        background: #CCC;
        font-weight: bolder;

        .nav-link {
            color: #FFF;
        }
    }
}